<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config-test.properties</value>
            </list>
        </property>
    </bean>


    <bean id="workerThread" class="rashjz.info.app.workers.WorkerThread">
        <property name="name" value="${name}"/>
    </bean>


    <bean id="mailVerification" class="rashjz.info.app.util.MailVerification">
    </bean>
</beans>